*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
canvas {
    border: 1px solid black;
}
p{
    display: inline-block;
    margin: 0;
}
input{
    display: inline-block;
}
#diagramPlusForm-container{
    width: 100vw;
    height: 95vh;
    margin-top: 1vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#venn{
    margin: 0;
    width: 90vw;
    height: 80vh;
    padding-left:2.5vw;
    padding-right: 2.5vw;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addsetForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
#addsetLabel{
    margin-right: 1vw;
}